@font-face {
    font-family: "Rajdhani";
    src: url(../assets/fonts/Rajdhani/Rajdhani-Medium.ttf) format("TrueType");
}

@font-face {
    font-family: "SpaceGrotesk";
    src: url(../assets/fonts/Space_Grotesk/SpaceGrotesk-Bold.ttf) format("TrueType");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "SpaceGrotesk";
    src: url(../assets/fonts/Space_Grotesk/SpaceGrotesk-Regular.ttf) format("TrueType");
    font-wieght: 400;
    font-style: normal;
}

$main-font: "SpaceGrotesk", sans-serif;