
#home {
    .popup-container {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
        display: none;
        justify-content: center;
        align-items: center;
        &.active {
            display: flex;
        }
    }
    .popup {
        background: linear-gradient(
                155deg,
                rgba(237, 222, 191, 0.4),
                rgba(25, 88, 125, 0.4)
        );
        width: 500px;
        height: 300px;
        border-radius: 10px;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        button {
            background-color: inherit;
            opacity: 0.5;
            color: $white;
            font-size: 1.5rem;
            position: absolute;
            top: .625rem;
            right: .625rem;
        }

        p {
            color: $white;
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}